
body{
  background-color: #9F0303;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;

}


.area-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 10px;
  width: 355px;
  height: 320px;
  padding: 35px;

}

.login form{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login input{
  margin-top: 10px;
  background-color: #E8E5E5;
  padding-left: 10px;
  color: #9F0303;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 8px;
}

.login img{
  width: 65px;
  height: auto;
}

input::placeholder{
  color: #9F0303;
  font-size: 14px;
  
}

form [type="submit"]{
  display: block;
  background-color: #9F0303;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

p{
  color: #9F0303;
}

a{
  color: #F6C314;
  text-decoration: none;
  margin-left: 10px;
}